body{
    margin: 0px;
    padding: 0px;
    background-color: #131231;
}
/*housing container*/
.housing{
    width: 100%;
    height: auto;
    
}

.header_con{
    width: 100%;
    height: auto;
    padding: 13px 0px;
    background-color: #171638;
}
.menu{
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: karla;

}

.todo_con{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #444444;
    padding: 20px 0px;
}
.todo_form{
    border-radius: 30px;
    padding: 7px 15px;
    background-color: #0c0b24;
}
.todo_box{
    width: 100%;
    height: auto;
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: karla;
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
    background: transparent;
    outline: none;
}
.todo_btn{
    color: white;
    font-size: 13px;
    font-weight: 400;
    font-family: karla;
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #1bcedf;
}


.task_con{
    width: 100%;
    height: auto;
    padding: 20px 0px 0px;
}
.task_header{
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto;
}
.task_cont{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 15px;
    background-color: #212152;
}
.task_text{
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    font-family: karla;
    margin-bottom: 0px;
}
.done_con{
    background-color: #171638;
}
.done{
    text-decoration: line-through;
}
.task_date{
    color: #1bcedf;
    font-size: 12px;
    font-weight: 300;
    font-family: karla;
}
.empty{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    font-family: karla;
    border-radius: 10px;
    padding: 15px;
    background-color: #0c0b24;
}
.tog{
    position: absolute;
    top: 5px;
    left: 5%;
    right: 5%;
    z-index: 1000;
    width: 90%;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    font-family: karla;
    border-radius: 25px;
    padding: 10px 15px;
    background-color: #0d6d04;
}
.err{
    color: red;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    font-family: karla;
    padding: 10px 0px;
    margin-bottom: 0px;
}






